@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/*----------- header "logo" -------*/
.header {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
}

.header__logo {
  font-family: 'Shrikhand', Verdana, Tahoma, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px 0 10px 0;
}

/*----------- Location display ------*/
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E9E9E9;
}

.location__icon {
  margin: 15px 15px 0 0;
}

/*----- Section presentation and explore button -----*/
.presentation {
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
}

.presentation__title {
  margin-top: 0;
  padding: 40px 50px 0 50px;
}

.presentation__text {
  padding: 0 30px 10px 30px;
  font-size: 18px;
  color: gray;
}

.presentation__button {
  width: 220px;
  height: 50px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 13px -7px #c0bfbf;
          box-shadow: 0px 10px 13px -7px #c0bfbf;
  margin-bottom: 50px;
}

/*---------- Section functioning --------*/
.functioning {
  width: 100%;
}

.functioning__title {
  padding: 30px 0 20px 20px;
}

.functioning__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  margin: 20px 20px 20px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 5px 16px 0px #c0bfbf;
          box-shadow: 2px 5px 16px 0px #c0bfbf;
  position: relative;
}

.functioning__card:hover {
  background-color: rgba(146, 86, 220, 0.13);
}

.functioning__number {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: white;
  background-color: #9356DC;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 33%;
  right: 94%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.functioning__icon {
  margin-left: 30px;
  margin-right: 20px;
  color: grey;
  font-size: 20px;
}

/*------------- Section restaurant -----*/
.restaurant {
  width: 100%;
  margin-bottom: 50px;
}

@media (max-width: 1024px) and (min-width: 640px) {
  .restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.restaurant__title {
  padding: 30px 0 10px 20px;
}

@media (max-width: 1024px) and (min-width: 640px) {
  .restaurant__title {
    width: 80%;
  }
}

.restaurant__card {
  -ms-flex-preferred-size: calc(100% - 40px);
      flex-basis: calc(100% - 40px);
  height: auto;
  margin: 0 20px 20px 20px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 5px 16px 0px #c0bfbf;
          box-shadow: 2px 5px 16px 0px #c0bfbf;
}

@media (max-width: 1024px) and (min-width: 640px) {
  .restaurant__card {
    -ms-flex-preferred-size: calc(50% - 45px);
        flex-basis: calc(50% - 45px);
  }
  .restaurant__card:nth-child(2) {
    margin: 0 30px 30px 30px;
  }
  .restaurant__card:nth-child(3) {
    margin: 0 30px 30px 0;
  }
  .restaurant__card:nth-child(4) {
    margin: 0 30px 30px 30px;
  }
  .restaurant__card:nth-child(5) {
    margin: 0 30px 30px 0;
  }
}

.restaurant__card-img {
  width: 100%;
  height: 200px;
  position: relative;
}

.restaurant__card-img img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__card-mention {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  background-color: #99E2D0;
  border: none;
  color: green;
  position: absolute;
  bottom: 65%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.restaurant__card-body {
  padding-left: 10px;
  position: relative;
}

.restaurant__card-title {
  margin-bottom: 5px;
}

.restaurant__card-location {
  margin: 0;
  padding-bottom: 10px;
}

.restaurant__card-icon {
  font-size: 20px;
  position: absolute;
  top: 0%;
  left: 88%;
}

/*--------- footer -----*/
.footer {
  background-color: #4B4B4B;
  color: white;
  padding-bottom: 20px;
}

.footer__logo {
  margin: 0;
  padding: 20px 0 20px 20px;
  font-family: 'Shrikhand', Verdana, Tahoma, sans-serif;
  font-size: 20px;
}

.footer__ul {
  list-style-type: none;
  padding: 0;
}

.footer__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding-left: 20px;
}

.footer__li a {
  color: white;
}

.footer__li-icon {
  width: 12px;
  padding-right: 10px;
  font-size: 10px;
}

.footer__li-text {
  margin: 0;
}

/*--------------- menu n°1 ---------------*/
/*-------- header "icon" "logo" -----*/
.header-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__icon {
  padding-left: 20px;
}

.header-menu__logo {
  font-family: 'Shrikhand', Verdana, Tahoma, sans-serif;
  padding-left: 60px;
}

/*-------- Restaurant picture ------*/
.restaurant__img {
  width: 100%;
  height: 270px;
}

.restaurant__img img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*--------- Section menu ---------*/
.menu {
  position: relative;
  z-index: 1;
  margin-top: -2rem;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 30px 30px 0 0;
}

.menu__name-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.menu__name {
  font-family: 'Shrikhand', Verdana, Tahoma, sans-serif;
  padding-left: 10px;
}

.menu__icon {
  padding-right: 40px;
  font-size: 22px;
}

.menu__title {
  padding-left: 10px;
  font-weight: 200;
  font-size: 18px;
  border-bottom: solid 1px #99E2D0;
}

.menu__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
}

.menu__card-body {
  width: 100%;
}

.menu__card-dishe {
  margin: 0;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 400;
}

.menu__card-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 10px;
}

.menu__card-text {
  margin: 0;
  font-size: 15px;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
}

.menu__card-price {
  margin: 0;
  text-align: end;
  width: 15%;
}

.menu__card-icon {
  font-size: 25px;
  visibility: hidden;
}

.menu__button {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.menu__button button {
  width: 180px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 40px;
  color: white;
  font-weight: 600;
}

.footer--menu {
  padding-top: 20px;
}
/*# sourceMappingURL=main.css.map */